@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1753432999539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuizhi:before {
  content: "\e732";
}

.icon-verticalleftchuizhi:before {
  content: "\e50b";
}

